@import 'src/style/shared.scss';

.About {
  position: relative;
  float: left;
  text-align: center;
  z-index: 50;
  margin: px-to-rem(80) 0 0 0;
  padding: px-to-rem(20) $navbar-padding-mobile;

  @media (min-width: $layout-large) {
    padding: px-to-rem(20) $navbar-padding-desktop;
  }

  h1 {
    margin: px-to-rem(0) 0 px-to-rem(30) 0;
    @include font-title;
    color: $pink;
    font-size: px-to-rem(24);
    line-height: px-to-rem(30);
    text-align: left;
  }

  p {
    margin: px-to-rem(20) 0 px-to-rem(20) 0;
    font-size: px-to-rem(14);
    line-height: px-to-rem(20);
    color: $green;
    text-align: left;
  }
}
