@import 'src/style/shared.scss';

.Gallery {
  position: relative;
  float: left;
  width: 100%;
  background-color: transparent;
  z-index: 50;
  color: $green;
  padding: px-to-rem(20) $navbar-padding-mobile;

  @media (min-width: $layout-large) {
    padding: px-to-rem(20) $navbar-padding-desktop;
  }

  &-container {
    position: relative;
    float: left;
    width: 100%;
    margin: px-to-rem(0) 0 0 0;
    // border: 1px $green solid;
    padding: px-to-rem(20);
    // background-color: $blacktint;

    @media (min-width: $layout-large) {
      padding: px-to-rem(30);
    }
  }

  &-content {
    position: relative;
    float: left;
    width: 100%;

    .gallery-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: px-to-rem(10);
      grid-auto-flow: dense;

      .gallery-item {
        flex: 1;
        padding: px-to-rem(20);
        text-decoration: none;
        color: $white;
        @include font-regular();
        background-color: transparent;

        &:hover {
          background-color: $greentint;
        }

        a {
          text-decoration: none;
        }

        .gallery-item-content {
          position: relative;
          width: 100%;
        }

        .image-container {
          position: relative;
          width: 100%;
          overflow: hidden;

          &:before {
            content: '';
            float: left;
            padding-top: 100%;
          }

          img {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;
            min-height: 100%;
            min-width: 100%;
            user-select: none;
          }
        }

        .gallery-item-title {
          color: $green;
          font-size: px-to-rem(22);
          margin-bottom: px-to-rem(20);
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .gallery-item-info-title {
          font-size: px-to-rem(30);
          margin: 0 0 px-to-rem(20) 0;
          text-overflow: ellipsis;
          white-space: nowrap;

          @media (min-width: $layout-large) {
            font-size: px-to-rem(18);
          }
        }

        .gallery-item-info-bid {
          @include font-special();
          font-size: px-to-rem(36);
          color: $green;
          margin: px-to-rem(10) 0 px-to-rem(10) 0;

          @media (min-width: $layout-large) {
            font-size: px-to-rem(24);
          }
        }

        .gallery-item-info-button {
          @include item-button;
          text-transform: uppercase;
          width: 100%;
          margin-top: px-to-rem(20);

          padding: px-to-rem(12) px-to-rem(3) px-to-rem(10) px-to-rem(3);
          font-size: px-to-rem(24);

          @media (min-width: $layout-large) {
            padding: px-to-rem(6) px-to-rem(3) px-to-rem(3) px-to-rem(3);
            font-size: px-to-rem(16);
          }

          &.active {
            text-transform: uppercase;
          }
        }
      }
    }
  }

  &.Home-galery {
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    background-color: $blacktint;

    &.Gallery {
      padding: px-to-rem(20);
      border: 1px $green solid;

      @media (min-width: $layout-large) {
        padding: px-to-rem(30);
      }

      .Gallery-container {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;

        @media (min-width: $layout-large) {
          padding: 0;
        }
      }

      .gallery-list {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        .gallery-item {
          padding: px-to-rem(10);
          background-color: $blacktint;

          .gallery-item-title {
            color: $white;
            font-size: px-to-rem(24);

            @media (min-width: $layout-large) {
              font-size: px-to-rem(14);
            }
          }

          .gallery-item-info-title {
            font-size: px-to-rem(10);
            margin: 0;
          }

          &:hover {
            background-color: $greentint;
          }
        }
      }

      .Gallery-header {
        position: relative;
        float: left;
        width: 100%;

        h1 {
          @include title-mobile;

          @media (min-width: $layout-large) {
            @include title;
          }
        }
      }
    }
  }
}
