@import 'src/style/shared.scss';

.Leaderboard-content {
  width: 100%;
  box-sizing: border-box;

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    td,
    th {
      padding-left: px-to-rem(30);
    }

    td:nth-child(3),
    th:nth-child(3) {
      display: none;
      width: 0%;
    }

    td:nth-child(2),
    th:nth-child(2) {
      width: 70%;
    }

    td:nth-child(1),
    th:nth-child(1) {
      width: 30%;
    }

    thead {
      width: 100%;
      text-align: left;
      @include font-regular();
      font-size: px-to-rem(18);
      color: $black;
      background-color: $green;

      tr {
        th {
          border-top: 1px solid $green;
          border-bottom: 1px solid $green;
          padding-top: px-to-rem(3);
          padding-bottom: px-to-rem(3);
        }
      }
    }

    tbody {
      width: 100%;
      text-align: left;
      @include font-regular();
      font-size: px-to-rem(20);
      color: $white;
      padding-top: 10px;

      tr {
        td {
          border-bottom: 1px solid $greentint-dark;
          padding-top: px-to-rem(8);
          padding-bottom: px-to-rem(8);

          img {
            float: left;
            position: relative;
            width: px-to-rem(80);
          }

          p {
            float: left;
            position: relative;
            padding-left: px-to-rem(12);
            word-wrap: break-word;
            margin: px-to-rem(30) px-to-rem(10);
          }
        }
      }

      tr:last-child {
        td {
          border-bottom: none;
        }
      }
    }

    @media (min-width: $layout-large) {
      td:nth-child(3),
      th:nth-child(3) {
        display: table-cell;
        width: 70%;
      }

      td:nth-child(2),
      th:nth-child(2) {
        width: 20%;
      }

      td:nth-child(1),
      th:nth-child(1) {
        width: 10%;
      }

      thead {
        font-size: px-to-rem(12);
      }

      tbody {
        font-size: px-to-rem(16);

        tr {
          td {
            img {
              width: px-to-rem(50);
            }

            p {
              margin: px-to-rem(15) px-to-rem(10);
            }
          }
        }
      }
    }
  }
}
