@import 'src/style/shared.scss';

.Leaderboard-content {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;

  table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;

    td,
    th {
      padding-left: px-to-rem(10);
    }

    td:nth-child(4),
    th:nth-child(4) {
      display: none;
      width: 0;
    }

    th:nth-child(3) {
      width: 40%;
    }

    th:nth-child(2) {
      width: 60px;
    }

    td:nth-child(1),
    th:nth-child(1) {
      width: 40%;
      text-align: center;
    }

    thead {
      width: 100%;
      text-align: left;
      @include font-regular();
      font-size: px-to-rem(16);
      color: $black;
      background-color: $green;

      tr {
        th {
          border-top: 1px solid $green;
          border-bottom: 1px solid $green;
          padding-top: px-to-rem(3);
          padding-bottom: px-to-rem(3);
        }
      }
    }

    tbody {
      width: 100%;
      text-align: left;
      @include font-regular();
      font-size: px-to-rem(16);
      color: $white;
      padding-top: 10px;

      tr {
        td {
          border-bottom: 1px solid $greentint-dark;
          padding: px-to-rem(8) px-to-rem(12);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          img {
            float: left;
            position: relative;
            width: px-to-rem(50);
            height: px-to-rem(50);
            background-color: $green;
            border: none;
          }

          img[alt]:after {
            content: attr(alt);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $green;
            color: $black;
            line-height: px-to-rem(50);
            font-size: px-to-rem(20);
            text-align: center;
            content: attr(alt);
          }
        }
      }

      tr:last-child {
        td {
          border-bottom: none;
        }
      }
    }

    @media (min-width: $layout-large) {
      td:nth-child(4),
      th:nth-child(4) {
        display: table-cell;
        width: 60%;
      }

      th:nth-child(3) {
        width: 20%;
      }

      th:nth-child(2) {
        width: 6%;
      }

      th:nth-child(1) {
        width: 15%;
      }

      thead {
        font-size: px-to-rem(12);
      }

      tbody {
        font-size: px-to-rem(16);

        tr {
          td {
            img {
              width: px-to-rem(50);
              height: px-to-rem(50);
            }
          }
        }
      }
    }
  }
}
