@import 'src/style/shared.scss';

.Mine {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 900;
  background: $blacktint-dark;
  padding: px-to-rem(20) $navbar-padding-mobile;

  @media (min-width: $layout-large) {
    padding: px-to-rem(20) $navbar-padding-desktop;
  }

  .mine-close {
    position: absolute;
    bottom: px-to-rem(40);
    right: px-to-rem(40);
    @include main-button;
    background-color: $black;
    cursor: pointer;
    z-index: 910;
  }

  .mine-container {
    position: absolute;
    top: calc(#{$navbar-height-mobile} - 80px);
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
  }

  .Adbanner {
    width: auto;
    height: auto;
    z-index: 900;
  }

  .Adbanner-wrapper {
    display: inline-block;
    border: 1px solid $green;
    z-index: 900;
  }
}
