@import 'src/style/shared.scss';

.box-info {
  width: 100%;
  box-sizing: border-box;
  height: calc(100% - 6rem);

  .box-info-bid {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    height: 100%;
  }

  .box-info-asset {
    @include font-light();
    width: 100%;

    li {
      margin: px-to-rem(20) 0 0 0;
      list-style: none;

      ul {
        width: 100%;
        position: relative;
        float: left;
        text-align: left;

        h1 {
          position: relative;
          color: $white;
          width: 100%;
          min-width: 130px;
          font-size: px-to-rem(16);
          line-height: px-to-rem(32);
          margin: 0;
          word-wrap: break-word;
        }

        p {
          position: relative;
          width: 100%;
          color: $green;
          font-size: px-to-rem(16);
          line-height: px-to-rem(20);
          margin: 0;
          word-wrap: break-word;
        }
      }
    }

    @media (min-width: $layout-large) {
      li {
        ul {
          h1 {
            position: relative;
            float: left;
            width: 10%;
            font-size: px-to-rem(10);
            line-height: px-to-rem(20);
          }

          p {
            position: relative;
            float: left;
            width: 60%;
            font-size: px-to-rem(10);
            line-height: px-to-rem(20);
          }
        }
      }
    }
  }

  .box-info-image-overlay {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .box-info-image-overlay-ico {
      position: absolute;
      top: px-to-rem(30);
      right: px-to-rem(30);
      width: px-to-rem(100);
      height: px-to-rem(100);
      border-radius: 50%;
      background-color: $green;
      background-image: url('#{$base-image-path}img_click.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      transition: background-size 0.1s ease-out, transform 0.08s ease-out;
    }

    p {
      position: absolute;
      bottom: px-to-rem(30);
      width: 100%;
      text-align: center;
      font-size: px-to-rem(32);
      color: $pink;
      margin: 0;
      -webkit-text-stroke: 2px $green;
      transition: transform 0.1s ease-out;
    }

    &:hover {
      .box-info-image-overlay-ico {
        background-size: 120% 120%;
        transform: rotate(20deg);
      }

      p {
        transform: scale(1.2);
      }
    }

    @media (min-width: $layout-large) {
      .box-info-image-overlay-ico {
        top: px-to-rem(15);
        right: px-to-rem(15);
        width: px-to-rem(45);
        height: px-to-rem(45);
      }

      p {
        bottom: px-to-rem(16);
        font-size: px-to-rem(18);
        -webkit-text-stroke: 1px $green;
      }
    }
  }

  .box-info-image {
    position: relative;
    display: none;
    visibility: hidden;
    width: 30%;
    background-position: center center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      min-height: 100%;
      min-width: 100%;
    }

    @media (min-width: $layout-large) {
      display: block;
      visibility: visible;
    }

    border: 0px $green solid;
    transition: border 0.15s ease-out;

    &:hover {
      border: 8px $green solid;
    }
  }

  .box-info-data {
    width: 100%;
    padding: 0 px-to-rem(10) 0 px-to-rem(10);

    @media (min-width: $layout-large) {
      width: 70%;
      padding: 0 px-to-rem(20) 0 px-to-rem(30);
    }

    .box-info-data-image {
      position: relative;
      display: block;
      visibility: visible;
      width: 100%;
      background-position: center center;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        min-height: 100%;
        min-width: 100%;
      }

      @media (min-width: $layout-large) {
        display: none;
        visibility: hidden;
      }
    }

    .box-info-data-title {
      @include font-title();
      position: relative;
      float: left;
      width: 100%;
      font-weight: 100;
      box-sizing: border-box;
      margin: px-to-rem(-5) 0 px-to-rem(5) 0;

      text-align: center;
      font-size: px-to-rem(24);

      @media (min-width: $layout-large) {
        text-align: left;
        font-size: px-to-rem(30);
      }
    }

    .box-info-data-edition,
    .box-info-desc,
    .box-info-status-top-title,
    .box-info-status-bid-title {
      position: relative;
      float: left;
      width: 100%;
      color: $white;

      text-align: center;
      font-size: px-to-rem(18);
      margin: px-to-rem(8) 0 px-to-rem(20) 0;

      @media (min-width: $layout-large) {
        text-align: left;
        font-size: px-to-rem(10);
        margin: 0;
      }
    }

    .box-info-desc {
      font-size: px-to-rem(16);
      margin: px-to-rem(30) 0 px-to-rem(20) 0;

      b {
        color: $pink;
        text-transform: uppercase;
      }

      @media (min-width: $layout-large) {
        margin: px-to-rem(20) 0 px-to-rem(20) 0;
        font-size: px-to-rem(10);
      }
    }

    .box-info-status {
      position: relative;
      float: left;
      width: 100%;

      @media (min-width: $layout-large) {
        width: auto;
        position: absolute;
        bottom: px-to-rem(30);
      }
    }

    .box-info-status-top {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 10px;

      .box-info-box {
        position: relative;
        float: left;
        height: 100px;
        box-sizing: border-box;

        border-left: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;

        @media (min-width: $layout-large) {
          width: auto;
        }

        &:first-child {
          border-left: none;
          padding-left: 0;
        }

        &:last-child {
          max-width: 100%;
          padding-right: 0;
        }

        p {
          float: none;
        }

        &.single {
          max-width: 100%;
        }

        @media (min-width: $layout-large) {
          border-left: 1px solid $whitetint;
          padding-left: px-to-rem(30);
          padding-right: px-to-rem(30);
          max-width: 50%;

          &:first-child {
            border-left: none;
            padding-left: 0;
          }

          &:last-child {
            max-width: 80%;
            padding-right: 0;
          }

          p {
            float: none;
          }

          &.single {
            max-width: 80%;
          }
        }
      }

      .box-info-status-top-title {
        margin-bottom: px-to-rem(10);
      }

      .box-info-status-top-bid {
        @include font-special();
        font-size: px-to-rem(24);
        height: px-to-rem(28);
        color: $green;
        margin: 0;
      }

      .box-info-status-info {
        position: relative;
        float: left;
        width: 100%;
        margin-top: px-to-rem(14);
        margin-bottom: 0;
        color: $gray-tint;
        font-size: px-to-rem(10);

        text-align: center;

        @media (min-width: $layout-large) {
          text-align: left;
        }
      }
    }

    .box-info-status-bottom {
      position: relative;
      float: left;
      width: 100%;
      bottom: auto;
      margin-top: px-to-rem(30);

      @media (min-width: $layout-large) {
        margin-top: 50px;
      }

      .box-info-status-bid {
        position: relative;
        float: left;
        margin-left: px-to-rem(15);
      }

      .box-info-button {
        position: relative;
        float: left;
        @include main-button;
        text-transform: uppercase;
        text-decoration: none;
        width: 45%;

        @media (min-width: $layout-large) {
          min-width: 200px;
          max-width: 280px;
        }

        &.cta {
          @include main-button-cta;
          width: 100%;
          margin: 0 px-to-rem(20) px-to-rem(20) 0;
          font-size: px-to-rem(30);

          @media (min-width: $layout-large) {
            width: 50%;
            margin: 0 px-to-rem(20) px-to-rem(20) 0;
            font-size: px-to-rem(16);
          }
        }
      }
    }
  }
}

.box-info.single {
  .box-info-image {
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    border: 2px $green solid;
    align-self: stretch;
    transition: border 0.15s ease-out;

    &:hover {
      border: 8px $green solid;
    }
  }

  .box-info-data {
    h2 {
      font-size: px-to-rem(35);
    }

    .box-info-desc {
      font-size: px-to-rem(14);
      line-height: px-to-rem(18);

      b {
        color: $green;
        font-weight: normal;
      }
    }

    .box-info-status {
      position: relative;
      float: left;
      width: 100%;

      @media (min-width: $layout-large) {
        position: relative;
        float: left;
        width: 100%;
        bottom: auto;
      }
    }

    .box-info-status-bid {
      display: none;
      visibility: hidden;

      .box-info-status-bid-title {
        font-size: px-to-rem(12);
        margin-bottom: px-to-rem(5);
      }

      .box-info-status-bid-bid {
        @include font-special();
        font-size: px-to-rem(21);
        color: $pink;
      }

      @media (min-width: $layout-large) {
        display: block;
        visibility: visible;
      }
    }
  }
}
