@import 'src/style/shared.scss';

.WebGL {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  //background-color: transparent;

  canvas {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    //background-color: transparent;
  }
}

.dg.ac {
  z-index: 100000 !important;
}
