@import 'src/style/shared.scss';

.Home {
  position: relative;
  float: left;
  text-align: center;
  padding: px-to-rem(20) $navbar-padding-mobile;
  z-index: 50;

  @media (min-width: $layout-large) {
    padding: px-to-rem(20) $navbar-padding-desktop;
  }

  &-Welcome {
    position: relative;
    float: left;
    width: 100%;
    background-color: transparent;
    padding: px-to-rem(20) px-to-rem(20);
    color: $green;
    border: 1px $green solid;
    text-align: left;

    b {
      color: $pink;
    }

    a {
      cursor: pointer;
      color: $pink;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-header {
    position: relative;
    float: left;
    width: 100%;
    margin: px-to-rem(0) 0 0 0;
    background-color: transparent;
    padding: px-to-rem(20) 0;
    color: $green;

    @media (min-width: $layout-large) {
      max-height: 700px;
      height: 700px;
    }

    @media (min-width: $layout-mlarge) {
      max-height: 800px;
      height: 800px;
    }

    .home-header-wrapper {
      position: relative;
      float: left;
      width: 100%;
      height: 100%;
    }

    .home-box {
      position: relative;
      float: left;
      border: 1px $green solid;
      box-sizing: border-box;
      color: $green;
      background-color: $blacktint;

      &.small {
        width: 100%;
        height: calc(50% - #{px-to-rem(10)});

        &:first-child {
          margin-bottom: px-to-rem(20);
        }
      }
    }

    .home-header-container {
      position: relative;
      float: left;

      &.left {
        padding: px-to-rem(20) $navbar-padding-mobile;
        box-sizing: border-box;
        width: 100%;
        height: 100%;

        @media (min-width: $layout-large) {
          padding: px-to-rem(30) $navbar-padding-desktop;
          margin-right: px-to-rem(20);
        }

        h1 {
          @include title-mobile;

          @media (min-width: $layout-large) {
            @include title;
          }
        }
      }

      &.right {
        position: relative;
        float: left;
        width: 100%;
        height: px-to-rem(450);
        margin-top: px-to-rem(20);
      }

      @media (min-width: $layout-large) {
        &.left {
          width: calc(70% - #{px-to-rem(20)});
        }

        &.right {
          margin-top: 0;
          width: 30%;
          height: 100%;
        }
      }
    }
  }
}
