@import 'src/style/shared.scss';

.MineNav {
  position: fixed;
  width: calc(100% - 1px);
  top: $navbar-height-mobile;
  left: 0;
  margin-top: px-to-rem(20);
  padding: px-to-rem(15);
  border: 1px solid $pink;
  color: $pink;
  background: $blacktint-dark;
  z-index: 999;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 90px;
    left: 25%;
    top: -50px;
    background: radial-gradient(50% 50% at 50% 50%, #05ff0077 0%, rgba(0, 0, 0, 0) 100%);
  }

  &:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 90px;
    left: 25%;
    bottom: -50px;
    background: radial-gradient(50% 50% at 50% 50%, #fa00ff77 0%, rgba(0, 0, 0, 0) 100%);
  }

  @media (min-width: $layout-large) {
    top: $navbar-height-desktop;
    margin-top: px-to-rem(20);
  }

  .label {
    font-size: px-to-rem(12);

    &.user {
      font-size: px-to-rem(18);
    }
  }

  .digits {
    @include font-special();
    font-size: px-to-rem(16);
    padding: 0 px-to-rem(20);

    &.user {
      font-size: px-to-rem(24);
    }
  }

  .delta {
    @include font-special();
    font-size: px-to-rem(16);

    &.user {
      font-size: px-to-rem(24);
    }
  }

  .time-left-wrapper {
    position: absolute;
    left: 6%;
    color: $green;
    margin-top: px-to-rem(5);
  }

  .rank-wrapper {
    position: absolute;
    right: 6%;
    margin-top: px-to-rem(5);

    .rank-count {
      position: relative;
      float: right;
    }

    .rank-bid {
      position: relative;
      float: right;
      margin-right: px-to-rem(24);
    }
  }
}
