@import 'src/style/shared.scss';

.Asset {
  position: relative;
  float: left;
  width: 100%;
  background-color: transparent;
  z-index: 50;
  color: $green;
  padding: px-to-rem(40) $navbar-padding-mobile;

  @media (min-width: $layout-large) {
    padding: px-to-rem(20) $navbar-padding-desktop;
  }

  &-container {
    position: relative;
    float: left;
    width: 100%;
    margin: px-to-rem(0) 0 0 0;
    border: 1px $green solid;
    padding: px-to-rem(20);
    background-color: $blacktint;

    &.leaderboard {
      margin-top: px-to-rem(20);
      padding: px-to-rem(20) 0 px-to-rem(6) 0;

      h1 {
        @include title-mobile;
        padding: 0 px-to-rem(20) 0 px-to-rem(20);
        margin: 0 px-to-rem(20) px-to-rem(20) px-to-rem(20);

        @media (min-width: $layout-large) {
          @include title;
          padding: 0 px-to-rem(20) 0 px-to-rem(20);
        }
      }
    }

    @media (min-width: $layout-large) {
      padding: px-to-rem(30);

      &.leaderboard {
        padding: px-to-rem(30) 0 px-to-rem(10) 0;

        h1 {
          padding: 0 px-to-rem(30) 0 px-to-rem(30);
        }
      }
    }
  }
}
