@import 'src/style/shared.scss';

$main-footer-nav-padding: 0 4rem !default;
$main-footer-links-margin: 2rem !default;
$main-footer-link-font-size: 18px !default;
$main-footer-link-color: $green !default;
$main-footer-bg-color: transparent !default;
$main-footer-copyright-color: $gray !default;
$main-footer-copyright-font-size: 12px !default;

.Footer {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 180px;
  padding: 2rem $navbar-padding-mobile;
  background: $main-footer-bg-color;
  box-sizing: border-box;
  @include z-index(footer);
  text-align: center;
  z-index: 500;

  @media (min-width: $layout-medium) {
  }

  @media (min-width: $layout-large) {
    padding: 2rem $navbar-padding-desktop;
  }

  .footer-nav {
    .nav-list {
      padding-left: 0;
      margin: 0 auto;
      height: 105px;

      .footer-image {
        display: inline-block;
        width: 90px;
        height: 50px;

        .footer-image-title {
          position: relative;
          float: left;
          width: 100%;
          @include font-light;
          font-size: 14px;
          color: $green;
          text-align: center;
        }

        .footer-logo {
          position: relative;
          width: 90px;
          height: 50px;
          background: url('#{$base-image-path}logo_fake-artists.png') no-repeat;
          background-size: 90px 50px;
        }
      }

      .nav-item {
        display: inline-block;
        font-size: $main-footer-link-font-size;
        height: 100%;
        vertical-align: middle;

        &:last-of-type {
          margin-right: 0;
        }
      }

      a {
        color: $main-footer-link-color;
        text-decoration: none;

        &:hover {
          text-decoration: line-through;
        }
      }
    }
  }

  .footer-copyright {
    position: absolute;
    left: 50px;
    bottom: 20px;
    font-size: $main-footer-copyright-font-size;
    color: $main-footer-copyright-color;
    margin: 2rem 0 0;
  }
}
