@import 'src/style/shared.scss';

$main-top-nav-height: 6rem !default;
$main-top-nav-padding: 0 4rem !default;
$main-top-nav-links-margin: 2rem !default;
$main-top-nav-link-font-size: 2rem !default;

.MainNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  height: $navbar-height-mobile;
  padding: 2rem $navbar-padding-mobile;
  box-sizing: border-box;
  z-index: 999;

  @media (min-width: $layout-large) {
    height: $navbar-height-desktop;
    padding: 2rem $navbar-padding-desktop;
  }

  .only-aria-visible {
    clip-path: inset(100%);
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .nav-mid-logo-cnt {
    display: inline-block;
    width: 212px;
    height: 109px;
    margin: px-to-rem(0) 0 0 px-to-rem(90);
  }

  .nav-mid-logo {
    display: inline-block;
  }

  .nav-mid-logo-text {
    display: inline-block;
    text-align: center;
    width: 100%;

    h1 {
      margin: px-to-rem(5) 0;
      @include font-h1;
      color: $pink;
      font-size: px-to-rem(20);
      line-height: px-to-rem(20);
      text-align: center;
    }

    p {
      margin: px-to-rem(5) 0;
      @include font-h1;
      color: $gray;
      font-size: px-to-rem(12);
    }
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .nav-logo {
      width: px-to-rem(200);
    }

    .nav-logo-text {
      margin: px-to-rem(0) px-to-rem(7);
      position: absolute;
      color: $green;
      font-size: px-to-rem(11);
      line-height: px-to-rem(11);
    }

    .nav-list {
      display: inline-block;

      .nav-item {
        margin-left: $main-top-nav-links-margin;
        display: inline-block;
        @include main-button;

        a {
          text-decoration: none;
        }
      }
    }
  }
}
